{% include "/home/header.html.twig" %}
<body>
    
    <nav>
        <div class="row-flex">
            <div class="line column-flex">
                <div class="circle current"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <ul class="column-flex navUl">
                <li class="current"><h3>Map</h3></li>
                <li><h3>Contact</h3></li>
                <li><h3>About Us</h3></li>
            </ul>
        </div>
    </nav>

    <div class="my-container">
        <div class="topBar">
            <button  class="topButton profileButton">
                <text>dalideco@gmail.com</text>
                <img src="images/utilities/arrow.png" ></img>
            </button>
            <ul >
                <li>
                    <a href="/logout">
                    Log Out
                    </a>
                </li>
            </ul>
        </div>

        <script>
            let myUlShown= false;
            const profileButton= document.querySelector('.topBar .topButton');
            const myUl = document.querySelector('.topBar ul')
            profileButton.onclick=()=>{
                myUlShown = !myUlShown;
                myUl.style.transform=myUlShown?'none':'scaleY(0)';
            }
        </script>
        
        <a href="/signup" class="signUpButton topButton topBar">
            Sign Up
        </a>
        


        <div class="myMap">
            <div class="my-container">
                {# this is the svg #}
                {% include "/home/mySvg.html.twig" %}

                {# this is the ul #}
                <ul>
                    
                    <li class="liSvg">
                        <a href="#">
                        {% include "/home/tunisiaSvg.html.twig" %}
                        <div>Tunisia<div>
                        </a>
                    </li>
                    <li class="liSvg">
                        <a href="#">
                        {% include "/home/franceSvg.html.twig" %}
                        <div>France<div>
                        </a>
                    </li>
                    <li class="liSvg">
                        <a href="#">
                        {% include "/home/spainSvg.html.twig" %}
                        <div><a href="#">Spain</a><div>
                        </a>
                    </li>
                    
                    
                </ul>
            </div>
            
        </div>




        <div id="contact">
            <div class="bg-contact100" style="background-image: url('images_ContactForm/bg.jpg');">
                <div class="container-contact100">
                    <div class="wrap-contact100">
                        <div class="contact100-pic js-tilt" data-tilt>
                            <img src="images_ContactForm/img.jpg">
                        </div>

                        <form class="contact100-form validate-form">
                            <span class="contact100-form-title">
                                Get in touch
                            </span>

                            <div class="wrap-input100 validate-input" data-validate = "Name is required">
                                <input class="input100" type="text" name="name" placeholder="Name">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>

                            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                                <input class="input100" type="text" name="email" placeholder="Email">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>
                            </div>

                            <div class="wrap-input100 validate-input" data-validate = "Message is required">
                                <textarea class="input100" name="message" placeholder="Message"></textarea>
                                <span class="focus-input100"></span>
                            </div>

                            <div class="container-contact100-form-btn">
                                <button class="contact100-form-btn">
                                    Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class= "aboutUs">
            <div class="aboutUs-container">
                <div class="card">
                    <img src="images_AboutUs\dali.jpg" alt="">
                    <h3>Dali Sahnoun</h3>
                    <p>etudiant gl2 insat</p>
                </div>
                <div class="card">
                    <img src="images_AboutUs\dali.jpg" alt="">
                    <h3>Dali Sahnoun</h3>
                    <p>etudiant gl2 insat</p>
                </div>
                <div class="card">
                    <img src="images_AboutUs\dali.jpg" alt="">
                    <h3>Dali Sahnoun</h3>
                    <p>etudiant gl2 insat</p>
                </div>
                <div class="card">
                    <img src="images_AboutUs\dali.jpg" alt="">
                    <h3>Dali Sahnoun</h3>
                    <p>etudiant gl2 insat</p>
                </div>
            </div>
        </div>

    </div>



    <!--===============================================================================================-->
        <script src="vendor_ContactForm/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor_ContactForm/bootstrap/js/popper.js"></script>
        <script src="vendor_ContactForm/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor_ContactForm/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor_ContactForm/tilt/tilt.jquery.min.js"></script>
        <script >
            $('.js-tilt').tilt({
                scale: 1.1
            })
        </script>
    <!--===============================================================================================-->
        <script src="js_ContactForm/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
    </script>

    </div>


    <script src="app.js"></script>
</body>
</html>