
.card{
    font-family: 'Montserrat',sans-serif;
    overflow-y: hidden;
    position: relative;
    width:300px;
    height:400px;
    transform: scale(0.8);
    
    background-position:top ;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px black;
    color:#ffffff;
    border-radius: 20px;
    cursor: pointer;
}
.overlay{
    border-radius: 20px;
    z-index:1;
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.24);
    transition: background-color 1s ease-out;
}
.content{
    position: absolute;
    bottom:10px;
    left:0px;
    width:100%;
    z-index: 2;
    border-radius: 20px;
    transform: translateY(0px);
    transition: transform 1s ease-out;
}
.card:hover .content{
    transform: translateY(-100px);
}
.card:hover .parag{
    transform: translateY(0px);
    opacity:1;
}
.card:hover .overlay{
    background-color: rgba(0, 0, 0, 0.5);
}
.content h1{
    padding:10px;
    font-size: 22px;
    font-weight: 900;
}
.lineDope{
    height:10px;
    width:200px;
    background-color: rgb(61, 184, 108);
}
.parag{
    width:100%;
    position: absolute;
    opacity: 0;
    transition:transform 1s ease-out,opacity 1s ease-out;
    transform: translateY(20px);
}
.parag p{
    padding:10px;
    padding-top:0px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size:20px;
    border-radius: 30px;
    padding:5px;
    margin:auto;
    margin-top:0px;
    width:60%;
    flex-wrap: wrap;
    padding:5px;
}
.icons a{
    margin:auto;
    font-size: 20px;
}
.content h2{
    margin:0px;
    font-size:16px;
    padding-left:10px;
    padding-right:10px;
    font-weight: 400;
}
.card .fa{
    margin:auto !important;
    background-color: rgb(61, 184, 108);
    width:40px;
    padding-top:10px;
    padding-bottom: 10px;
    color:white;
    text-align: center;
    margin-right:10px;
    margin-left:10px;
    border-radius: 100px;
    transition:background-color 1s ease-out,transform 1s ease-out,color;
    transform: translateY(0px);
}
.fa:hover{
    transform: translateY(-2px);
    color: rgb(61, 184, 108);
    background-color: white;
}