a.gotohome{
    position: absolute; 
    top: 10px; 
    right: 10px; 
    padding: 5px 14px; 
    font-size: 30px; 
    color: white; 
    background: rgba(0, 0, 0, 0.558);
    border:5px solid rgb(114, 114, 114);
    text-decoration: none;
    border-radius: 50%;
    z-index: 1100;
}
a.gotohome:hover{
    background: rgba(0, 0, 0, 0.648)
}