*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    
    /* background-color: rgb(148, 224, 97); */
    
    background-image : url('/images/logBackground-Rotated270.jpg');
    background-size: cover;
    background-position: center;

}
body::after{
    content: '';
    position: absolute; 
    z-index: -1;
    top: 0;
    left: 0 ;
    right: 0;
    bottom: 0 ; 
    background: rgb(149,110,78);
background: linear-gradient(87deg, rgba(149,110,78,0.4906337535014006) 0%, rgba(96,95,23,0.5522584033613445) 55%, rgba(164,255,0,0.23853291316526615) 100%);


}
.my-container{
    width : 370px;
    background: white;
    
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.08); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.08);
    transform: scaleY(0);
    animation: show 700ms ease-in-out forwards;

}
@keyframes show{
    100%{
        transform: none ;
        padding: 30px;
    }
}