*{
    margin: 0 ; 
    padding: 0; 
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em ;
    background: rgb(10, 47, 4);
    color: white;
}

form input{
    padding: 10px; 
    border-radius: 10px;
}
form input[type="text"] {
    display: block;
    width: 100%;
}

hr{
    margin: 20px 20px;
}

.container{
    display: flex; 
    height: 100vh;
    
}

.container> .image {
    background-size: cover ;
    flex: 1 1 400px;
}
.container > .recette{
    flex: 1 0 400px; 
    display: flex; 
    justify-content: flex-start;
    flex-direction: column;
    padding: 4rem 0 ; 
    overflow-y: auto;
    position: relative;
}
.container > .recette>*{
    width: 80%;
    max-width: 500px;
    margin:auto; 

}

.recette::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .recette::-webkit-scrollbar-track {
    background: rgb(5, 47, 5);
  }
  
  /* Handle */
  .recette::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .recette::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.container > .recette > form {
    display: flex;
    flex-direction: column;
}
.comments > .comment {
     display: flex; 
     justify-content: space-between; 
     padding: 20px 0 ; 
     border-bottom: 1px solid white;
}
.comments > .comment:first-of-type{
    border-top: 1px solid white;
}


.mycheckbox{
    position: absolute; 
    top: 20px; right: 20px;
    width: 40px!important; height: 40px;
}
.mycheckbox #favorite{
    position: absolute;
    top: 0 ; left: 0 ;
    width: 100%; height: 100%;
    z-index: 1;
    opacity: 0 ;
}

.mystar{
    position: absolute; top:0; left: 0 ;
    width: 100%; height: 100%; 
    background: rgb(143, 143, 5);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display:flex;justify-content: center; align-items: center;
    
}
.mystar::after{
    content:'';
    width: 60%; height: 60%; 
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: rgb(10, 47, 4);
}

.mycheckbox #favorite:hover + .mystar::after{
    background:rgb(145, 167, 24);
}
.mycheckbox input#favorite[type="checkbox"]:checked + .mystar::after{
    background:rgb(143, 143, 5);
}

.comment-part{
    display:flex;
}
.comment-part>input {
    flex: 1 ;
}
.comment-part> button {
    padding: 0 20px;
}

input:focus{
    outline: none;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.46); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7);
}

@media(max-width: 1000px){
    html{
        font-size: 40px;
    }
    .container{
        display:block;
        height: auto ;
    }
    .container > .image{
        height: 90vh ;
        background-attachment: fixed;
    }
    .container> .recette >* {
        margin:10px auto;
        width: 100%;
    }
    .container> .recette input{
        font-size: 1rem;
    }
    a.gotohome{
        padding: 1px 22px !important;
    }
    .mycheckbox{
        width: 80px!important; height: 80px;
    }
}