/* initializing */
:root{
    --nav-color : rgba(61, 184, 108,0.4);
    --current-color: rgb(61, 184, 108);
    --myGreen: rgb(61, 184, 108);
    --myWhite :rgb(245, 245, 245)
}
html{
    font-size: 15px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    line-height:1.6rem; 
    font-family:sans-serif;
    position: relative;
}

::-webkit-scrollbar{
    max-width:7px;
    transition: width 5s ease-in-out;
}


::-webkit-scrollbar-track{
    background:var(--myWhite);
}

::-webkit-scrollbar-thumb{
    background: var(--myGreen);
}



/* the navbar*/

nav{
    height: 100vh ; 
    padding-right: 0;
    color: var(--myWhite);
    display:flex; 
    justify-content: center; 
    align-items: center;
    position: fixed;
    z-index:700;
    top:0;
    left:0;
    background : var(--myGreen);
    overflow:hidden;
    transition : padding 300ms ease-in-out;
    -webkit-box-shadow: 5px 4px 37px 5px rgba(0,0,0,0.39); 
    box-shadow: 5px 4px 37px 5px rgba(0,0,0,0.39);
    animation:showNav 750ms ease-in-out forwards;
}
@keyframes showNav{
    0%{
        opacity:0;
        transform: translateX(-100%);
    }
}


nav:hover{
    padding-right: 50px;
}
.navUl{
    height: 100vh;
    flex:1;
    margin-left: 20px !important;
    max-width:0;
    transform-origin: left;
    transform:scaleX(0);
    transition: max-width 300ms ease-in-out,
        transform 200ms ease-in-out 100ms;
    position: relative;
    overflow:hidden;  
}
nav:hover ul{
    max-width: 400px;
    overflow: initial;
    transform: none;
}


.column-flex{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}
.navUl li{
    list-style: none;
    padding:20px 0; 
    transition: transform 100ms ease-in-out,
        color 100ms ease-in-out;
    cursor:pointer;
    transform-origin: left;
}
.navUl li:hover{
    transform: scale(1.1) ;
}
.row-flex{
    display:flex;
    justify-content: center ;
    margin-left: 10px;
}


.line{
    width: 3px;
    background: var(--myWhite);
    height: 100vh;
    align-items:center;
}

.circle{
    width: 10px; 
    height: 10px;
    background :var(--myWhite);
    border-radius: 50%;
    transition: transform 100ms ease-in-out;
}

.current{
    color: var(--myWhite);
    transform:scale(1.4) !important;
}
.current:hover{
    transform: scale(1.4);
;}

/*containing*/

.my-container{
    width: calc(100% - 30px);
    float :right;
}

/* myMap */

.myMap{
    background : var(--myWhite);
    width: 100%;
    height: 100vh;
}





.wrap-contact100{
    -webkit-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.58); 
    box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.58);
}


/*aboutUs*/

.aboutUs{
    min-height: 100vh ; 
    width: 100%; 
    background-color: var(--myWhite);
    background-image: url("images_AboutUs/cubes.png");
    position: relative;
    
}
.aboutUs-container{
    position: relative;
    min-height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

.card{
    display: flex; 
    align-items:center;
    margin: 10px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.58); 
    box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.15);
}

.card *{
    margin:25px 0;
}

.card img{
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 50%;
    border: 5px var(--myGreen) solid;
    -webkit-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.58); 
    box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.15);
}

.profileButton{
    border: 2px solid black;
    
}
.profileButton img{
    width: 20px; height: 20px;
}

.topButton{ 
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 1.1rem;
    
}
.topBar{
    position:fixed; 
    right: 10px;
    top :10px; 
    text-align:center;
}

.topBar ul{
    border-radius: 15px;
    overflow:hidden;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 300ms ease-in-out;
}

.topBar ul li{
   
    background: rgb(241, 133, 100);
    
    font-size:1.1rem;
    display:flex;
    justify-content: stretch;
    align-items:stretch
}
.topBar ul li:hover{
    background: white;
}

.topBar ul li a {

    padding-top: 10px ;
    padding-bottom: 10px;
    color : white; 
    width: 100%;
    height: 100%;
}
.topBar ul li:hover a{
    color:rgb(206, 90, 55);
}

.signUpButton{
    
    background: rgb(20, 202, 20); 
    border : 3px solid rgb(20, 202, 20);
    
    color:white;
    transition: background-color 300ms ease-in-out;
    display: none;
    
}

.signUpButton:hover{
    background: white;
}